<div class="mt-4 p-5 bg-primary text-white rounded">
    <h1>🏦 황포냉면 해운대점</h1>
    <hr/>
    <h4> 한국의 3대 냉면중 하나인 진주냉면과 진주 향토음식을 전문으로 합니다.</h4>
    <h4> 영업시간 : 11:00 ~ 22:00 last order : 20:30 </h4>
    <h4> 정기휴무 : 매주 월요일</h4>
    <h4>📞 0507-1305-5034</h4>
</div>
    
</body>
</html>